<div class="container">
    <div class="row">
        <div>
            <form (ngSubmit)="onCreate()" novalidate #f="ngForm">
                <div class="form-group nomProy">
                    <label for="nombreP">Nombre del Proyecto</label>
                    <input type="text" class="form-control" id="nombreP" name="nombreP" [(ngModel)]="nombreP" required>
                </div>
                <div class="form-group descProy">
                    <label for="descripcionP">Descripcion del Proyecto</label>
                    <input type="text" class="form-control" id="descripcionP" name="descripcionP" [(ngModel)]="descripcionP" required>
                </div>
                <button class="btn btn-dark">
                    Agregar Proyecto
                </button>
            </form>
        </div>
    </div>
</div>
