<div class="container" *ngIf="acercade">
    <div class="row">
        <div>
            <form (ngSubmit)="onUpdate()" novalidate #f="ngForm">
                <div class="form-group">
                    <label for="tituloA">Titulo Profesional</label>
                    <input type="text" class="form-control" id="tituloA" name="tituloA" [(ngModel)]="acercade.tituloA" required>
                </div>
                <div class="form-group">
                    <label for="descripcionP">Cuenta algo sobre tí...</label>
                    <input type="text" class="form-control" id="descripcionA" name="descripcionA" [(ngModel)]="acercade.descripcionA" required>
                </div>
                <button class="btn btn-primary">
                    Actualizar Información
                </button>
            </form>
        </div>
    </div>
</div>